.main-heading{

    
}
.container{
  background: url(/src/assets/images/furniture.png);
  position: absolute;
  top: 0px;
  left: 50px;
  width: 380px;
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
}
.head{
text-align: center; 
   font-size: 50px;
   margin-top: 100px;
   position: relative;
   top: 100px;
}
.headings{
text-align: center; 
   font-size: 55px;
   margin-top: -30px;
   position: relative;
   top: 100px;
}
.description{
     text-align: center;
     font-size: 14px;
     position: relative;
   top: 100px;
}
.descriptions{
     text-align: center;
     font-size: 15px;
    margin-top: -10px;
    position: relative;
   top: 100px;
    
}
.button-section{

}
.butt-on{
    position: relative;
    left: 577px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    position: relative;
   top: 100px;
}
.buttons{
        position: relative;
    left: 700px;
    top: -39px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
    position: relative;
   top: 62px;


}
.right-img{
   position: relative;
   top: 100px;
}




@media (min-width :380px) {

   .container{
  background: url(/src/assets/images/furniture.png);
  position: absolute;
  top: 0px;
  left: 17px;
  right: 18px;
  width: 380px;
  height: 180px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
}


.head{
text-align: center; 
   font-size: 18px;
   margin-top: 40px;
   margin-left: -40px;
   position: relative;
   top: 10px;
}


.headings{
text-align: center; 
   font-size: 18px;
   margin-top: 0px;
   margin-left: -40px;

   position: relative;
   top: 0px;
}

.description{
     text-align: center;
     font-size: 7px;
     position: relative;
   top: -10px;
   margin-left: -40px;

}

.descriptions{
     text-align: center;
     font-size: 8px;
    margin-top: -18px;
   margin-left: -40px;

    position: relative;
   top: 0px;
    
}



.butt-on{
    position: relative;
    left: 110px;
    padding: 4px 10px;
    font-size: 9px;
    border-radius: 20px;
    background-color: black;
    color: white;
    position: relative;
   top: 0px;
}


.buttons{
        position: relative;
    left: 187px;
    top: -22px;
    padding: 4px 10px;
    font-size: 9px;
    border-radius: 20px;
    background-color: white;


}







}








