.main-heading{

    
}
.container{
  background: url(/src/assets/images/furniture.png);
  position: absolute;
  top: 0px;
  left: 50px;
  width: 1420px;
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -5;
}
.head{
text-align: center; 
   font-size: 50px;
   margin-top: 100px;
   position: relative;
   top: 100px;
}
.headings{
text-align: center; 
   font-size: 55px;
   margin-top: -30px;
   position: relative;
   top: 100px;
}
.description{
     text-align: center;
     font-size: 14px;
     position: relative;
   top: 100px;
}
.descriptions{
     text-align: center;
     font-size: 15px;
    margin-top: -10px;
    position: relative;
   top: 100px;
    
}
.button-section{

}
.butt-on{
    position: relative;
    left: 577px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    position: relative;
   top: 100px;
}
.buttons{
        position: relative;
    left: 700px;
    top: -39px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
    position: relative;
   top: 62px;


}
.right-img{
   position: relative;
   top: 100px;
}



@media (min-width:380px) and (max-width:600px) {
   .container{
      width: 370px;
      height: 220px;
      position: absolute;
      left: 10px;
      top: 0px;
   }
   .main-heading{
      margin-top: -150px;
   }
  .head{
     font-size: 20px;
  }
  .headings{
   font-size: 20px;
   margin-top: -15px;
  }
  .description{
   font-size: 9px;
   margin-top: -12px;
  }
  .descriptions{
   font-size: 9px;
  }
  .butt-on{
   position: relative;
   left: 120px;
   padding: 3px 5px;
   font-size: 9px;
  }
  .buttons{
   position: relative;
   left: 187px;
   top: 80px;
   padding: 3px 5px;
   font-size: 9px;
  }





}






