.details{
    position: absolute;
    top: 3200px;
    /* text-align: center;   */
    
}
.centers-a{
    font-size: 45px;
    position: relative;
    left: 430px;
}
.centers-b{
     font-size: 18px;
     margin-top: -20px;
    position: relative;
    left: 430px;

}
.centers-c{
     font-size: 18px;
     margin-top: -16px;
    position: relative;
    left: 430px;



}
.headss{
    margin-left: 0px;
}
.flexess{
    display: flex;
    position: relative;
    left: 300px;
    top: 100px;
}
.images-heads{
    display: flex;
    position: relative;
    top: 140px;
}
.headss-a{
    margin-top: -2px;
    font-size: 20px;
}
.headss-b{
    margin-top: -13px;
}
.heads-a{
    font-size: 30px;
}
.heads-b{
    font-size: 16px;
}
.headss{
    /* margin-top: -20px; */
    padding: 10px 30px; 
  
}
.rate{
    position: relative;
    top: -80px;
    left: -80px;
}
.hea{
    position: relative;
    top: 50px;
    left: -50px;
}
.imrate{
    position: relative;
    top: 0px;
}
.design-at{
  border-radius: 20PX;

}


@media (min-width:380px) and (max-width:600px) {
   .details{
    position: absolute;
    top: 2000px;
   }
   .centers-a{
    font-size: 16px;
    position: relative;
    left: 60px;
   }
    .centers-b{
     font-size: 8px;
     position: relative;
     left: 60px;
     
     margin-top: 0px;
    }
   
     .flexess{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 20px;
        top: 10px;
     }
     .centers-c{
        font-size: 10px;
        position: relative;
        left: 60px;
        top: 10px;
     }
     .heads-a{
        font-size: 20px;
        position: relative ;
        left: 100px;
     }
     .heads-b{
        font-size: 7px;
        position: relative;
        left: 90px;
     }
     .images-heads{
        position: relative;
        left: 30px;
        top: 50px;
     }
        .headss-a{
            font-size: 15px;
            position: relative;
            top: 10px;
            left: 30px;
        }
        .headss-b{
            font-size: 12px;
            position: relative;
            left: 20px;
            top: 10px;
        }
    .rate{
        margin-top: -5px;
        width: 90%;
        margin-left: 90px;
    }
  .design-at{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    /* margin-left: 50px; */
    position: relative;
    top: -100px;
    left: 40px;
  }
  .men{
    position: relative;
    top: 10px;
    
  }
        


}
