#navbar {
    display: flex;
}

#ul-section {

    display: flex;
    list-style-type: none;
}

.title {

    margin-left: 50px;
    font-size: 40px;
    margin-right: 200px;

}

.titles {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 70px;

}

.button {
    font-size: 12px;
    margin-left: 210px;
    position: relative;
    top: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;


}

@media (min-width:380px){
    .title {
        /* max-width: 100%; */

    margin-left: 10px;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 0px;
    

}


.titles {
    font-size: 10px;
    padding-top: 11px;
    padding-left: 7px;
    margin-top: -18px;

}

.button {
    font-size: 8px;
    margin-left: 10px;
    position: relative;
    top: 3px;
    padding: 2px 2px;
    border-radius: 20px;
    background-color: black;
    color: white;


}
#ul-section {


    margin-left: -30px;
}

}



