#navbar {
    display: flex;
}

#ul-section {

    display: flex;
    list-style-type: none;
}

.title {

    margin-left: 50px;
    font-size: 40px;
    margin-right: 200px;
    margin-top: 18px;

}

.titls {
    font-size: 20px;
    padding-top: 21px;
    padding-left: 0px;

}
.titles {
    font-size: 20px;
    padding-top: 21px;
    padding-left: 70px;

}

.button {
    font-size: 12px;
    margin-left: 210px;
    position: relative;
    top: 30px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;


}



@media (min-width:380px) and (max-width:600px) {

    .title{
        margin-left: 0px;
        font-size: 20px;
        margin-right: -30px;
        margin-top: 10px;
    }
    .titls{
        
        font-size: 9px;
        margin-left: 0px;
        position: relative;
        left: 0px;
        top: -18px;
        padding-left: 0px;
    }
    .titles{
        
        font-size: 10px;
        position: relative;
        left: 0px;
        top: -18px;
        padding-left: 5px;
    }
    #ul{
        margin-left: 0px;
    }
    .button{
        font-size: 5px;
        margin-left: 10px;
        padding: 4px 6px;
        top: 14px;
    }
  
}



