.side-headings{
    position: absolute;
    top: 760px;
    left: 150px;
    display: flex;
}
.left{
   font-size: 50px;
   position: relative;
   top: 50px;

}
.left-a{
    font-size: 50px;
    
}
.left-b{
    font-size: 50px;
    position: relative;
    top: -60px;

}
.right{
    font-size: 18px;
}
.des{
     padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    position: relative;
    top: 12px;
}
.side-paragraph{
    position: relative;
    left: 200px;
    top: 80px;
}
.images{
    position: relative;
    top: 910px;
    
    display: flex;  
}
.left-img{
    background: url(/src/assets/images/designa.png);
    position: absolute;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 145px;
    border-radius: 20px;

    
    
}
.left-heading{
    position: relative;
    top: 370px;
    left: 50px;
    color: white;
}
.para-a{
     position: relative;
    top: 360px;
    left: 50px;
    color: white;
}
.para-b{
    position: relative;
    top: 350px;
    left: 50px;
    color: white;
}
.right-head{

  position: relative;
  top: 100px;

   


}
.flex{


}
.right-heading{
    position: relative;
    left: 100px;
}
.para-c{
      position: relative;
    left: 200px;
}
.right-headings{
    position: relative;
    left: 100px;
    top: 100px;
}
.para-d{
      position: relative;
    left: 100px;
    top: 100px;
}
.right-head{
     background: url(/src/assets/images/designb.png);
    position: absolute;
    top: 0px;
    left: 800px;
    width: 500px;
    height: 290px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.right-img{
     background: url(/src/assets/images/designc.png);
     position: relative;
     top: 290px;
     left: 200px;
     width: 500px;
     height: 290px; 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;


}


@media (min-width:380px) and (max-width:600px) {

.side-headings{
    position: absolute;
    top: 150px;
    left: 15px;
    display: flex;
}
.left{
   font-size: 12px;
   position: relative;
   top: 80px;
   left: 10px;
}
.left-a{
    font-size: 10px;
    position: relative;
    left: 10px;
    top:72px;
}
.left-b{
    font-size: 11px;
    position: relative;
    top: 60px;
    left: 10px;

}
.right{
    font-size: 6px;
    position: relative;
    top: 10px;
    left: 0px;

}
.des{
    padding: 2px 5px;
    border-radius: 10px;
    background-color: black;
    color: white;
    position: relative;
    top: 5px;
    
    left: 30px;
    font-size: 8px;
    

}
.side-paragraph{
    position: relative;
    left: 20px;
    top: 78px;
}
.images{
    position: relative;
    top: 250px;
    left: 0px;
    display: flex;  
    
}
.left-img{
    background: url(/src/assets/images/designa.png);
    position: absolute;
    width: 160px;
    height: 210px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    left: 15px;
    top: 10px;
    border-radius: 10px;
} 
.left-heading{
    position: relative;
    top: 70px;
    left: 10px;
    color: white;
    font-size: 30px;
}
.para-a{
     position: relative;
    top: 50px;
    left: 10px;
    color: white;
    font-size: 10px;
} 
.para-b{
    position: relative;
    top: 40px;
    left: 10px;
    color: white;
    font-size: 10px;
} 
.right-head{
     background: url(/src/assets/images/designb.png);
    position: absolute;
    top: 10px;
    left: 190px;
    width: 150px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    font-size: 12px;
}  
.right-heading{
    position: relative;
    left: 20px;
    font-size: 14px;

}  
.para-c{
      position: relative;
    left: 30px;
    font-size: 10px;
}    
.right-headings{
    position: relative;
    left: 20px;
    top: 20px;
    font-size: 12px;
}
.para-d{
      position: relative;
    left: 20px;
    top: 20px;
    font-size: 10px;
}
.right-img{
     background: url(/src/assets/images/designc.png);
     position: relative;
     top: 110px;
     left: 30px;
     width: 150px;
     height: 100px; 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}              



















}