.plannings{
    position: absolute;
    top: 2500px;
    left: 140px;
}
.flexx{
    display: flex;
    gap: 60px;
}
.main-head-b{
    margin-top: -20px;
}
.step-a{
    border: 1px solid black ;
    border-left: 0ch;
    border-right: 0ch;
}
.step-c{
    margin-top: -10px;
}
.step-d{
    margin-top: -15px;
    margin-left: 5px;
}
.design-images{
    display: flex;
    gap: 50px;
}
.consult-img{
border-radius: 20px;
}
.plan-img{
    border-radius: 20px;
}
.excution-img{
    margin-left: 10px;
    border-radius: 20px;

}

@media (min-width:380px) and (max-width:600px) {


    .plannings{
        position: absolute;
        top: 880px;
        left: 20px;
    }
    .flexx{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .main-head-b{
        margin-top: -10px;
        font-size: 18px;
        text-decoration: underline;

    }
    .main-head-a{
        font-size: 20px;
        margin-top: 10px;
        text-decoration: underline;

    }
    .step-a{
        border: 1px solid black ;
        border-left: 0ch;
        border-right: 0ch;
        width: 80%;
        font-size: 15px;

    }
    .step-b{
        margin-top: -5px;
        font-size: 20px;
        text-decoration: underline;
        margin-left: 20px;
    }
    .step-c{
        margin-top: -8px;
        font-size: 12px;
        margin-left: 20px;
    }
    .step-d{
        margin-top: -11px;
        margin-left: 5px;
        font-size: 12px;
        margin-left: 25px;

    }
    .design-images{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .consult-img{
        border-radius: 20px;
        width: 70%;
        height: 200px;
        margin-left: 40px;
        margin-top: 15px;

    }
    .plan-img{
        border-radius: 20px;
        width: 70%;
        height: 200px;
        margin-left: 40px;
        margin-top: 15px;


    }
    .excution-img{
        margin-left: 40px;
        border-radius: 20px;
        width: 70%;
        height: 200px;
        margin-top: 15px;

    }
 








}
