.centerr-headings{
    
        position: absolute;
        top: 1700px;
        
    
   
 
}
.center-a{
    margin-left: 500px;
    font-size: 35px;
}
.center-b{
    margin-left: 450px;
    font-size: 35px;
    margin-top: -20px;
}
.buttons-all{
    margin-left: 430px;

}
.but-a{
      padding: 10px 20px;
    border-radius: 20px;
    color: white;
    background-color: rgb(23, 16, 68);
    margin-right: 10px;
    font-weight: 800;

}
.but-b{
      padding: 10px 20px;
    border-radius: 20px;
    background-color: white;
    color: black;
    margin-left: 10px;
    font-weight: 800;
    
}
.slider{
    position: absolute;
    top: 1930px;
    left: 270px;
    text-align: center;
    overflow: hidden;
    width: 60%;
    
}
.img-a{
    /* margin-left: 0px; */
}
.slider-img{
    display: flex;
    width: 80%;

}
.slider-img img {
    height: 450px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: all 0.15s ease;
}
.slider-img input {
     height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin-top: 500px;
    position: relative;
    left: 400px;

}
.slider-img input:hover {
    background-color: #fff;
}
#img1:checked ~ .img-a {
    margin-left: 10px;
}
#img2:checked ~ .img-b {
    margin-left: -100%;
}
#img3:checked ~ .img-c {
    margin-left: -200%;
}
#img4:checked ~ .img-d {
    margin-left: -300%;
}



@media (min-width:380px) and (max-width:600px) {

.centerr-headings{
    position: absolute;
    top: 550px;

}
.center-a{
    font-size: 14px;
    margin-left: 100px;}
.center-b{
    font-size: 13px;
    margin-top: -7px;
    margin-left: 90px;
}
.buttons-all{
    margin-left: 0px;
}
.but-a{
    padding: 5px 10px;
    font-size: 6px;
    margin-left: 30px;
    margin-right: 0px;
}
.but-b{
    padding: 5px 10px;
    font-size: 6px;
    margin-left: 5px;
}
.slider{
    position: absolute;
    top: 650px;
    left: 10px;
    width: 70%;
}
.slider-img img {
    height: 200px;
    width: 100%;
}
.slider-img input {
    height: 10px;
    width: 10px;
    margin-top: 220px;
    left: 140px;
}
.slider-img input:hover {
    background-color: #fff;

}
.slider-img {
    width: 100%;
}
    .img-a, .img-b, .img-c, .img-d {
        width: 100%;
    }
    #img1:checked ~ .img-a {
        margin-left: 0px;
    }
    #img2:checked ~ .img-b {
        margin-left: -100%;
    }
    #img3:checked ~ .img-c {
        margin-left: -200%;
    }
    #img4:checked ~ .img-d {
        margin-left: -300%;
    }
    











}
